# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
